<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>google</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <a class="google-card" href="/auth/google">
    <h3>Login with google</h3>
    <p class="google">google</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        G
      </div>
    </div>
  </a>
</body>

</html>